APP_OPEN_URL=http://localhost:5175
FRONTEND_PORT=5175
BACKEND_PORT=8002
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5175,http://127.0.0.1:5175
